@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Light.ttf') format('trueType');
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* height: 100vh; */
    background-image: url(./assets/img/fond.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        background-attachment: fixed;
    color: #C1D0B9;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #C1D0B9;
}

.links a:hover {
    color: #FA6639;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

.logo a {
    color: #4FF2AE;
    text-shadow: 9px 9px 20px #C1D0B9;
}

.logo a:hover {
    color: #C1D0B9;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .burger-menu-button {
    color: #C1D0B9;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0.7em;
    right: 0.7em;
    z-index: 2;
}

.social {
    display: flex;
    gap: 10px;
    font-size: 1rem;
    gap: 0.5rem;
}

.logo-linkedin {
    padding: 0.7rem;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
}

.logo-linkedin:hover {
    color: white;
    background-color: #0B66C2;
    border-radius: 50%;
}

.logo-github {
    padding: 0.7rem;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
}

.logo-github:hover {
    color: white;
    background-color: #840B84;
    border-radius: 50%;
}

.logo-mail {
    padding: 0.7rem;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
}

.logo-mail:hover {
    color: white;
    background-color: #F5493D;
    border-radius: 50%;
}

.logo-phone {
    padding: 0.7rem;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
}

.logo-phone:hover {
    color: white;
    background-color: #27C41A;
    border-radius: 50%;
}

main {
    flex-grow: 1;
    /* background-color: green; */
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.metier {
    color: #4FF2AE;
}

.description-metier {
    box-shadow: 9px 9px 20px black;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.ma-photo {
    width: 270px;
    border-radius: 50%;
    box-shadow: 9px 9px 20px black;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.divider-main {
    height: 2px;
    background-color: #4FF2AE;
    margin-left: auto;
    margin-right: auto;
    margin: 20px 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.presentation {
    box-shadow: 9px 9px 20px black;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 0.7rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}


.presentation a {
    color: #4FF2AE;
}

.presentation a:hover {
    color: #FA6639;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #C1D0B9;
}

.programmation {
    box-shadow: 9px 9px 20px black;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 0.7rem;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.programmation h3 {
    color: #4FF2AE;
}

.programmation fieldset {
    padding: 0.7rem;
    display: flex;
    border-radius: 10px;
    color: #C1D0B9;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.html svg {
    height: 150px;
    width: 150px;
}

.html svg circle {
    fill: none;
    /* backdrop-filter: blur(150px); */
    stroke: #4FF2AE;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    animation: circle-html 5s forwards;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

@keyframes circle-html {
    to {
        stroke-dashoffset: 88;
    }
}

.html {
    position: relative;
    padding: 0.7rem;
}

.html span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    color: #C1D0B9;
    font-weight: bold;
    transform: translate(-40%, -140%);
}

.html h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.css {
    position: relative;
    padding: 0.7rem;
}

.css span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-40%, -140%);
    font-size: 1.5rem;
    color: #C1D0B9;
}

.css h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.css svg {
    height: 150px;
    width: 150px;
    /* background-color: #0B66C2; */
}

.css svg circle {
    fill: none;
    stroke: #4FF2AE;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    animation: circle-css 5s forwards;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

@keyframes circle-css {
    to {
        stroke-dashoffset: 220;
    }
}

.js {
    position: relative;
    padding: 0.7rem;
}

.js span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-40%, -140%);
    font-size: 1.5rem;
    color: #C1D0B9;
}

.js h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.js h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.js svg {
    height: 150px;
    width: 150px;
    /* background-color: #0B66C2; */
}

.js svg circle {
    fill: none;
    stroke: #4FF2AE;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    animation: circle-js 5s forwards;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

@keyframes circle-js {
    to {
        stroke-dashoffset: 352;
    }
}

.sql {
    position: relative;
    padding: 0.7rem;
}

.sql span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-40%, -140%);
    font-size: 1.5rem;
    color: #C1D0B9;
}

.sql h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.sql h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.sql svg {
    height: 150px;
    width: 150px;
    /* background-color: #0B66C2; */
}

.sql svg circle {
    fill: none;
    stroke: #4FF2AE;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    animation: circle-sql 5s forwards;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

@keyframes circle-sql {
    to {
        stroke-dashoffset: 88;
    }
}

.php {
    position: relative;
    padding: 0.7rem;
}

.php span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-40%, -140%);
    font-size: 1.5rem;
    color: #C1D0B9;
}

.php h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.php h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.php svg {
    height: 150px;
    width: 150px;
    /* background-color: #0B66C2; */
}

.php svg circle {
    fill: none;
    stroke: #4FF2AE;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    animation: circle-php 5s forwards;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

@keyframes circle-php {
    to {
        stroke-dashoffset: 400;
    }
}

.express {
    position: relative;
    padding: 0.7rem;
}

.express span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-40%, -140%);
    font-size: 1.5rem;
    color: #C1D0B9;
}

.express h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.express h1 {
    text-align: center;
    color: #C1D0B9;
    margin-top: 10px;
}

.express svg {
    height: 150px;
    width: 150px;
    /* background-color: #0B66C2; */
}

.express svg circle {
    fill: none;
    stroke: #4FF2AE;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    animation: circle-express 5s forwards;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

@keyframes circle-express {
    to {
        stroke-dashoffset: 400;
    }
}

.exp {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-align: justify;
}

.exp h1 {
    color: #4FF2AE;
    text-shadow: 9px 9px 50px #C1D0B9;
}

.exp h3 {
    color: #FA6639;
    text-shadow: 9px 9px 50px #FA6639;
}

.exp section {
    padding: 5px;
    margin-bottom: 10px;
    color: #C1D0B9;
}

.exp li {
    list-style: circle;
}

.exp h1,
.exp h3 {
    text-align: center;
}

/* ----------BURGER MENU---------- */

.burger-menu {
    /* display: none; */
    height: 0px;
    bottom: 0px;
    position: fixed;
    right: 2rem;
    top: 60px;
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: height 0.3s ease-in-out;
    z-index: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.burger-menu.open {
    height: 250px;
}

.burger-menu li,
.burger-menu .social {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 1px;
    background-color: #4FF2AE;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* ----------RESPONSIVE---------- */

@media (max-width: 990px) {
    header {
        background: none;
    }

    .navbar .links,
    .navbar .social {
        display: none;
    }

    .navbar .burger-menu-button {
        display: block;
    }
}

@media (max-width: 650px) {
    .burger-menu {
        left: 2rem;
        width: unset;
    }

    .ma-photo {
        width: 160px;
    }

    .programmation fieldset {
        flex-direction: column;
    }
}