@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-VariableFont_wght.ttf') format('trueType');
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-height: 100vh;
    min-height: 100vh;
    background: linear-gradient(hwb(0 0% 100% / 0.9),hwb(0 0% 100% / 0.5)), url("./assets/img/fond.jpg") center/cover;
    background-size: 100vw 100vh;
    font-family: "Oswald", sans-serif;
    color: #c7cacf;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5%;
    
}

.menu {
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.chevron-gauche, .chevron-droit {
    color: #c7cacf;
    visibility: hidden;
    text-shadow: 2px 2px 20px #c7cacf;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 3%;
}

.menu li {
    font-size: 1.7rem;
}

.menu li a {
    text-decoration: none;
    color: #7EC0DB;
    text-shadow: 2px 2px 20px #7EC0DB;
    text-transform: uppercase;
}

.menu li a:hover {
    .chevron-droit, .chevron-gauche {
        visibility: visible;
        opacity: 1;
    }
}

header h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    flex: 30%;
    text-align: center;
    color: #e19670;
    text-shadow: 2px 2px 20px #e19670;
}

.social {
    flex: 25%;
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: right;

}

.social img {
    width: 2.5rem;
    margin: auto;
    filter: grayscale(100%);
    transition: filter 0.1s ease-in-out;
}

.social img:hover {
    filter: grayscale(0%);
}

.main-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a img txt b"
    "c txt2 txt2 d";
    grid-row-gap: 2%;
    /* background: rgb(255, 255, 255, 0.2); */
    min-height: calc(100vh - 15vh);
    border-radius: 10px;
}

.ma-photo {
    border-radius: 50%;
    width: 15vw;
    place-self: center;
    grid-area: img;
    box-shadow: 8px 8px 20px 0px black;
    animation: translateRight 1s ease-in-out forwards;
}

@keyframes translateRight {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.titre-metier {
    font-size: 4rem;
    text-align: center;
    place-self: center;
    grid-area: txt;
    animation: translateLeft 1s ease-in-out forwards;
    color: #7EC0DB;
    text-shadow: 2px 2px 20px #7EC0DB;
}

.chevron-gauche-titre {
    color: #c7cacf;
}

.chevron-droit-titre {
    color: #c7cacf;
}

@keyframes translateLeft {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.presentation {
    grid-area: txt2;
    text-align: center;
    font-size: 2rem;
    background: rgb(199, 202, 207, 0.2);
    animation: translateUp 1s ease-in-out forwards;
    box-shadow: 8px 8px 20px 0px black;
    place-self: center;
    border-radius: 10px;
    color: #c7cacf;
}

.presentation a {
    text-decoration: none;
    color: #74ba7e;
    text-shadow: 2px 2px 20px #74ba7e;
}

.presentation a:hover {
    text-decoration: underline;
}

@keyframes translateUp {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5vh;
    color: #e19670;
    text-shadow: 2px 2px 20px #e19670;
    font-size: 1.7rem;
}

@media screen and (min-width: 1700px) and (max-width: 2000px)  {
    * {
        font-size: 80%;;
    }
    .ma-photo {
        width: 90%;
    }

}

@media screen and (min-width: 1350px) and (max-width: 1700px)  {
    * {
        font-size: 70%;;
    }
    .main-index {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img txt"
        "txt2 txt2";
        }
        .ma-photo {
            width: 50%;
        }
}

@media screen and (min-width: 1050px) and (max-width: 1350px)  {
    * {
        font-size: 60%;;
    }
    .main-index {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img txt"
        "txt2 txt2";
        }
        .ma-photo {
            width: 50%;
        }
}

@media screen and (min-width: 900px) and (max-width: 1050px)  {
    * {
        font-size: 50%;;
    }
    .main-index {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img txt"
        "txt2 txt2";
        }
        .ma-photo {
            width: 50%;
        }
}
